@using GrayDuckMail.Common.Localization;
@model HomepageModel
@{
    ViewData["Title"] = LanguageHelper.GetValue(ResourceName.View_Home_Index_Title);
}

<hgroup>
    <h1>@LanguageHelper.GetValue(ResourceName.View_Home_Index_Subheading)</h1>
    <h2>@LanguageHelper.GetValue(ResourceName.View_Home_Index_Subheading)</h2>
</hgroup>

<article>
    <header>
        <h1>@LanguageHelper.GetValue(ResourceName.View_Home_Index_AtAGlance)</h1>
    </header>
    <p>@LanguageHelper.GetValue(ResourceName.View_Home_Index_YouHave) <strong>@Model.NumberOfDiscussionLists</strong> @LanguageHelper.GetValue(ResourceName.View_Home_Index_DicussionListsInfoPart1) @(Model.NumberOfDiscussionLists == 1 ? LanguageHelper.GetValue(ResourceName.View_Home_Index_List) : LanguageHelper.GetValue(ResourceName.View_Home_Index_Lists))@LanguageHelper.GetValue(ResourceName.View_Home_Index_DicussionListsInfoPart2)</p>
    <p>@LanguageHelper.GetValue(ResourceName.View_Home_Index_NumberOfMessagesPart1) <strong>@Model.NumberOfMessages</strong> @(Model.NumberOfMessages == 1 ? LanguageHelper.GetValue(ResourceName.View_Home_Index_Message) : LanguageHelper.GetValue(ResourceName.View_Home_Index_Messages))@LanguageHelper.GetValue(ResourceName.View_Home_Index_NumberOfMessagesPart2)</p>
    <p>@LanguageHelper.GetValue(ResourceName.View_Home_Index_YouHave) <strong>@Model.NumberOfContacts</strong> @(Model.NumberOfContacts == 1 ? "person" : "people") in your contact list.</p>
</article>