@using GrayDuckMail.Common
@using GrayDuckMail.Common.Database
@using GrayDuckMail.Common.Localization;
@model ArchiveSearchModel

@{
    ViewData["Title"] = LanguageHelper.FormatValue(ResourceName.View_List_ArchiveSearch_FormatTitle, Model.DiscussionList.Name);
}

<hgroup>
    <h1>@LanguageHelper.FormatValue(ResourceName.View_List_ArchiveSearch_Format_Heading)</h1>
    <h2>@LanguageHelper.GetValue(ResourceName.View_List_ArchiveSearch_SubheadingPart1) <em>@Model.Messages.SearchTerm</em></h2>
</hgroup>

<article>
    <header>
        <nav>
            <ul>
            </ul>
            <ul>
                <li>
                    <form action="/List/Search" method="post">
                        <input type="hidden" id="discussionListID" name="discussionListID" value="@Model.DiscussionList.ID" />
                        <input type="search" id="searchTerm" name="searchTerm" placeholder="@LanguageHelper.GetValue(ResourceName.View_Common_Search)">
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    @if (Model.Messages.Cache.Any())
    {
        <aside>
            <ul>
                @foreach (var message in Model.Messages.Cache)
                {
                    <li class="message">
                        <a href="/List/Message/@message.Item.ID" class="contrast"><strong>@LanguageHelper.GetValue(ResourceName.View_List_Common_Subject) </strong>@message.Item.Subject</a>
                        <hr />
                        <small><i class="icofont-ui-user"></i> @message.Item.OriginatorContact.Name</small>
                        <br />
                        <small><i class="icofont-clock-time"></i> @LanguageHelper.GetValue(ResourceName.View_List_Common_Sent) @message.Item.Recieved.ToLocalTime()</small>
                    </li>
                }
            </ul>
        </aside>
        @if (Model.TotalPages > 1)
        {
            <footer>
                @if (Model.PageNumber > 1)
                {
                    <a href="/List/Archive/@Model.DiscussionList.ID/@(Model.PageNumber - 1)"><i class="icofont-caret-left"></i></a>
                }
                @LanguageHelper.FormatValue(ResourceName.View_Common_Format_PageCount, Model.PageNumber, Model.TotalPages)
                @if (Model.PageNumber < Model.TotalPages)
                {
                    <a href="/List/Archive/@Model.DiscussionList.ID/@(Model.PageNumber + 1)"><i class="icofont-caret-right"></i></a>
                }
            </footer>
        }
    }
    else
    {
        <p>@LanguageHelper.GetValue(ResourceName.View_List_Common_NoMessagesPart1) <a href="mailto:@(Model.DiscussionList.BaseEmailAddress)">@LanguageHelper.GetValue(ResourceName.View_List_Common_NoMessagesPart2)</a> @LanguageHelper.GetValue(ResourceName.View_List_Common_NoMessagesPart3)</p>
    }
</article>