@using GrayDuckMail.Common
@using GrayDuckMail.Common.Database
@using GrayDuckMail.Common.Localization;
@model ArchiveModel

@{
    ViewData["Title"] = LanguageHelper.FormatValue(ResourceName.View_List_Archive_Format_Title, Model.DiscussionList.Name);
}

@functions
{
    void RenderTreeView(params Tree<Message>[] messages)
    {
        @foreach (var message in messages)
        {
            <li class="message">
                <a href="/List/Message/@message.Value.ID" class="contrast"><strong>@LanguageHelper.GetValue(ResourceName.View_List_Common_Subject) </strong>@message.Value.Subject</a>
                <hr />
                <small><i class="icofont-ui-user"></i> @message.Value.OriginatorContact.Name</small>
                <br />
                <small><i class="icofont-clock-time"></i> @LanguageHelper.GetValue(ResourceName.View_List_Common_Sent) @message.Value.Recieved.ToLocalTime()</small>
                @if (message.Branches.Any())
                {
                    <aside>
                        <ul>
                            @{
                                RenderTreeView(message.Branches.ToArray());
                            }
                        </ul>
                    </aside>
                }
            </li>
        }
    }
}

<hgroup>
    <h1>@Model.DiscussionList.Name @LanguageHelper.GetValue(ResourceName.View_List_Archive_Heading)</h1>
    <h2>@LanguageHelper.FormatValue(ResourceName.View_List_Archive_Format_Subheading, Model.DiscussionList.Name)</h2>
</hgroup>

<article>
    <header>
        <nav>
            <ul>
            </ul>
            <ul>
                <li>
                    <form action="/List/Search" method="post">
                        <input type="hidden" id="discussionListID" name="discussionListID" value="@Model.DiscussionList.ID" />
                        <input type="search" id="searchTerm" name="searchTerm" placeholder="@LanguageHelper.GetValue(ResourceName.View_Common_Search)">
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    @if (Model.Messages.Any())
    {
        foreach (var message in Model.Messages)
        {
            <aside>
                <ul>
                    @{
                        RenderTreeView(message);
                    }
                </ul>
            </aside>
        }
        @if (Model.TotalPages > 1)
        {
            <footer>
                @if (Model.PageNumber > 1)
                {
                    <a href="/List/Archive/@Model.DiscussionList.ID/@(Model.PageNumber - 1)"><i class="icofont-caret-left"></i></a>
                }
                @LanguageHelper.FormatValue(ResourceName.View_Common_Format_PageCount, Model.PageNumber, Model.TotalPages)
                @if (Model.PageNumber < Model.TotalPages)
                {
                    <a href="/List/Archive/@Model.DiscussionList.ID/@(Model.PageNumber + 1)"><i class="icofont-caret-right"></i></a>
                }
            </footer>
        }
    }
    else
    {
        <p>@LanguageHelper.GetValue(ResourceName.View_List_Common_NoMessagesPart1) <a href="mailto:@(Model.DiscussionList.BaseEmailAddress)">@LanguageHelper.GetValue(ResourceName.View_List_Common_NoMessagesPart2)</a> @LanguageHelper.GetValue(ResourceName.View_List_Common_NoMessagesPart3)</p>
    }
</article>