@model DiscussionListsModel
@{
    ViewData["Title"] = "Easy Email Discussion";
}

<hgroup>
    <h1>Welcome</h1>
    <h2>Hello! Welcome to your email lists.</h2>
</hgroup>

<article>
    <header>
        <nav>
    <ul>
        <li>
            <a href="/List/New"><i class="icofont-ui-add"></i> Create New Discussion List</a>
        </li>
    </ul>
</nav>
    </header>
    @if (Model.DiscussionLists.Any())
    {
        foreach (var (discussionList, index) in Model.DiscussionLists.Select((discussionList, index) => ( discussionList, index )))
        {
            <details @(index == 0 ? "open" : "")>
                <summary>@discussionList.Name</summary>
                <p>@discussionList.Description</p>
                <ul>
                    <li>User Name: <strong>@discussionList.UserName</strong></li>
                    <li>Incoming Mail Server: <strong>@discussionList.IncomingMailServer</strong>:<em>@discussionList.IncomingMailPort</em></li>
                    <li>Outgoing Mail Server: <strong>@discussionList.OutgoingMailServer</strong>:<em>@discussionList.OutgoingMailPort</em></li>
                    @if (discussionList.UseSSL)
                    {
                        <li><mark><i class="icofont-ssl-security"></i> Using SSL/TLS</mark></li>
                    }
                    else
                    {
                        <li><i class="icofont-unlock"></i> Not using SSL/TLS</li>
                    }
                </ul>
                <nav>
                    <ul>
                        <li><a href="/List/Archive/@discussionList.ID"><i class="icofont-history"></i> Archive</a></li>
                        <li><a href="/List/Assign/@discussionList.ID"><i class="icofont-link"></i> Assign Contacts</a></li>
                        <li><a href="/List/Test/@discussionList.ID"><i class="icofont-send-mail"></i> Send a Test Message</a></li>
                        <li><a href="/List/Edit/@discussionList.ID"><i class="icofont-edit"></i> Edit</a></li>
                        <li><a href="/List/Remove/@discussionList.ID"><i class="icofont-delete-alt"></i> Remove</a></li>
                    </ul>
                </nav>
            </details>
        }
        @if (Model.TotalPages > 1)
        {
            <footer>
                @if (Model.PageNumber > 1)
                {
                    <a href="/List/@(Model.PageNumber - 1)"><i class="icofont-caret-left"></i></a>
                }
                Page @Model.PageNumber of @Model.TotalPages
                @if (Model.PageNumber < Model.TotalPages)
                {
                    <a href="/List/@(Model.PageNumber + 1)"><i class="icofont-caret-right"></i></a>
                }
            </footer>
        }
    }
    else
    {
        <p>No discussion lists have been set up yet. You can <a href="/List/New">create a new discussion list</a> now.</p>
    }
</article>