@using GrayDuckMail.Common
@model MessagePageModel
@{
    ViewData["Title"] = string.Format("Message from ", Model.Message.OriginatorContact.Name);
}

<hgroup>
    <h1>Message from @Model.Message.OriginatorContact.Name</h1>
    <h2>View the detailed information for this message below.</h2>
</hgroup>

<article>
    @if (Model.Message != null)
    {
        <header>

            <aside>
                <nav>
                    <ul>
                        <li><i class="icofont-ui-user"></i> <em>From: @Model.Message.OriginatorContact.Name</em></li>
                        <li><i class="icofont-clock-time"></i> <em>Sent: @Model.Message.Recieved.ToLocalTime()</em></li>
                        <li><i class="icofont-id"></i> Message ID: @Model.Message.EmailID</li>
                    </ul>
                </nav>
            </aside>
        </header>
        <article>
            <header>
                <i class="icofont-envelope"></i> <strong>@Model.Message.Subject</strong>
            </header>
            @if (!string.IsNullOrWhiteSpace(Model.Message.BodyHTML))
            {
                @Html.Raw(HTMLCleaner.RemoveInlineCSS(Model.Message.BodyHTML))
            }
            else if (!string.IsNullOrWhiteSpace(Model.Message.BodyText))
            {
                <pre>@Model.Message.BodyText</pre>
            }
            else if (!string.IsNullOrWhiteSpace(Model.Message.BodyRaw))
            {
                <pre>@Model.Message.BodyRaw</pre>
            }
            else
            {
                <em>An error occurred while processing this message.</em>
            }
            @if (Model.Children.Any())
            {
                <footer id="children">
                    <i class="icofont-mail"></i><i class="icofont-reply"></i> <strong>@Model.Children.Count()</strong> @(Model.Children.Count() == 1 ? "Reply" : "Replies")
                    <ul>
                        @foreach (var child in Model.Children)
                        {
                            <li><a href="/List/Message/@child.ID">From @child.OriginatorContact.Name at @child.Recieved.ToLocalTime(): @child.Subject</a></li>
                        }
                    </ul>
                </footer>
            }
        </article>
        @if (Model.TotalPages > 1)
        {
            <footer>
                @if (Model.PageNumber > 1)
                {
                    <a href="/List/Message/@Model.Message.ID/@(Model.PageNumber - 1)"><i class="icofont-caret-left"></i></a>
                }
                Page @Model.PageNumber of @Model.TotalPages
                @if (Model.PageNumber < Model.TotalPages)
                {
                    <a href="/List/Message/@Model.Message.ID/@(Model.PageNumber + 1)"><i class="icofont-caret-right"></i></a>
                }
            </footer>
        }
    }
    else
    {
        <p>That message cannot be found.</p>
    }
</article>