@using GrayDuckMail.Common
@using GrayDuckMail.Common.Localization;
@model MessagePageModel
@{
    ViewData["Title"] = LanguageHelper.FormatValue(ResourceName.View_List_Message_Format_Title, Model.Message.OriginatorContact.Name);
}

<hgroup>
    <h1>@LanguageHelper.FormatValue(ResourceName.View_List_Message_Format_Heading, Model.Message.OriginatorContact.Name)</h1>
    <h2>@LanguageHelper.GetValue(ResourceName.View_List_Message_Subheading)</h2>
</hgroup>

<article>
    @if (Model.Message != null)
    {
        <header>

            <aside>
                <nav>
                    <ul>
                        <li><i class="icofont-ui-user"></i> <em>@LanguageHelper.GetValue(ResourceName.View_List_Message_From) @Model.Message.OriginatorContact.Name</em></li>
                        <li><i class="icofont-clock-time"></i> <em>@LanguageHelper.GetValue(ResourceName.View_List_Message_Sent) @Model.Message.Recieved.ToLocalTime()</em></li>
                        <li><i class="icofont-id"></i> @LanguageHelper.GetValue(ResourceName.View_List_Message_MessageID) @Model.Message.EmailID</li>
                    </ul>
                </nav>
            </aside>
        </header>
        <article>
            <header>
                <i class="icofont-envelope"></i> <strong>@Model.Message.Subject</strong>
            </header>
            @if (!string.IsNullOrWhiteSpace(Model.Message.BodyHTML))
            {
                @Html.Raw(HTMLCleaner.RemoveInlineCSS(Model.Message.BodyHTML))
            }
            else if (!string.IsNullOrWhiteSpace(Model.Message.BodyText))
            {
                <pre>@Model.Message.BodyText</pre>
            }
            else if (!string.IsNullOrWhiteSpace(Model.Message.BodyRaw))
            {
                <pre>@Model.Message.BodyRaw</pre>
            }
            else
            {
                <em>@LanguageHelper.GetValue(ResourceName.View_List_Message_ErrorProcessingMessage)</em>
            }
            @if (Model.Children.Any())
            {
                <footer id="children">
                    <i class="icofont-mail"></i><i class="icofont-reply"></i> <strong>@Model.Children.Count()</strong> @(Model.Children.Count() == 1 ? LanguageHelper.GetValue(ResourceName.View_List_Message_Reply) : LanguageHelper.GetValue(ResourceName.View_List_Message_Replies))
                    <ul>
                        @foreach (var child in Model.Children)
                        {
                            <li><a href="/List/Message/@child.ID">@LanguageHelper.FormatValue(ResourceName.View_List_Message_Format_ReplyLink, child.OriginatorContact.Name, child.Recieved.ToLocalTime(), child.Subject)</a></li>
                        }
                    </ul>
                </footer>
            }
        </article>
        @if (Model.TotalPages > 1)
        {
            <footer>
                @if (Model.PageNumber > 1)
                {
                    <a href="/List/Message/@Model.Message.ID/@(Model.PageNumber - 1)"><i class="icofont-caret-left"></i></a>
                }
                @LanguageHelper.FormatValue(ResourceName.View_Common_Format_PageCount, Model.PageNumber, Model.TotalPages)
                Page @Model.PageNumber of @Model.TotalPages
                @if (Model.PageNumber < Model.TotalPages)
                {
                    <a href="/List/Message/@Model.Message.ID/@(Model.PageNumber + 1)"><i class="icofont-caret-right"></i></a>
                }
            </footer>
        }
    }
    else
    {
        <p>@LanguageHelper.GetValue(ResourceName.View_List_Message_NotFound)</p>
    }
</article>