@model AdminModel
@{
    ViewData["Title"] = "Administration";
}

<hgroup>
    <h1>Administration</h1>
    <h2>Perform specialized tasks to manage and maintain your service here.</h2>
</hgroup>

<article>
    <header>
        <h3>
            Web Settings
        </h3>
    </header>
    <form id="webSettings" action="/Admin/SaveSettings" method="post">
        <fieldset>
            <label for="useFuzzySearch">
                <input type="checkbox" role="switch" id="useFuzzySearch" name="useFuzzySearch" @((Model.UseFuzzySearch) ? "checked" : "") />
                Allow the system to use fuzzy search. This allows for matching similar or mispelled search terms.
            </label>
            <mark><i class="icofont-warning"></i> Fuzzy search can give you better search results, but can be very slow.</mark>
        </fieldset>
        <label>
            Number of items per page
            <input type="number" id="pageSize" name="pageSize" value="@Model.PageSize" />
        </label>
        <label for="theme">Site Theme</label>
        <select id="theme" name=theme>
            @foreach (var theme in ThemeHelper.Themes)
            {
                <!option value="@theme" @(Model.Theme.Equals(theme, StringComparison.OrdinalIgnoreCase) ? "selected" : string.Empty)>
                    @(string.IsNullOrWhiteSpace(theme) ? "System Theme" : theme)
                </!option>
            }
        </select>
    </form>
    <footer>
        <button type="submit" form="webSettings"><i class="icofont-save"></i> Save Settings</button>
    </footer>
</article>
<article>
    <header>
        <h3>Export Database</h3>
    </header>
    <p>
        Save a copy of your database, including contacts, discussion lists, and messages.
    </p>
    <footer>
        <a href="/Admin/ExportDatabase" role="button" style="width: 100%"><i class="icofont-download"></i> Export</a>
    </footer>
</article>
<article>
    <header>
        <h3>Import Database</h3>
    </header>
    <p>
        Import a database file to transfer contacts, discussion lists, and messages.
    </p>
    <form id="importDatabase" action="/Admin/ImportDatabase" method="post" enctype="multipart/form-data">
        <label for="databaseFile">
            Choose a SQLite database file to import
            <input type="file" id="databaseFileUpldate" name="databaseFile">
        </label>
    </form>
    <p>
        <mark><i class="icofont-warning"></i> <strong>WARNING: This will overwrite your existing database file. Please make sure you have a backup of your database before proceeding.</strong></mark>
    </p>
    <footer>
        <button type="submit" form="importDatabase"><i class="icofont-upload"></i> Import</button>
    </footer>
</article>