@model AdminModel
@using GrayDuckMail.Common.Localization
@{
    ViewData["Title"] = LanguageHelper.GetValue(ResourceName.View_Administration_Title);
}

<hgroup>
    <h1>@LanguageHelper.GetValue(ResourceName.View_Administration_Heading)</h1>
    <h2>@LanguageHelper.GetValue(ResourceName.View_Administration_Subheading)</h2>
</hgroup>

<article>
    <header>
        <h3>
            @LanguageHelper.GetValue(ResourceName.View_Administration_WebSettings)
        </h3>
    </header>
    <form id="webSettings" action="/Admin/SaveSettings" method="post">
        <fieldset>
            <label for="useFuzzySearch">
                <input type="checkbox" role="switch" id="useFuzzySearch" name="useFuzzySearch" @((Model.UseFuzzySearch) ? "checked" : "") />
                @LanguageHelper.GetValue(ResourceName.View_Administration_AllowFuzzySearch)
            </label>
            <mark><i class="icofont-warning"></i> @LanguageHelper.GetValue(ResourceName.View_Administration_FuzzySearchExplaination)</mark>
        </fieldset>
        <label>
            @LanguageHelper.GetValue(ResourceName.View_Administration_ItemsPerPage)
            <input type="number" id="pageSize" name="pageSize" value="@Model.PageSize" />
        </label>
        <label for="theme">@LanguageHelper.GetValue(ResourceName.View_Administration_SiteTheme)</label>
        <select id="theme" name=theme>
            @foreach (var theme in ThemeHelper.Themes)
            {
                <!option value="@theme" @(Model.Theme.Equals(theme, StringComparison.OrdinalIgnoreCase) ? "selected" : string.Empty)>
                    @(string.IsNullOrWhiteSpace(theme) ? "System Theme" : theme)
                </!option>
            }
        </select>
    </form>
    <footer>
        <button type="submit" form="webSettings"><i class="icofont-save"></i> @LanguageHelper.GetValue(ResourceName.View_Administration_SaveSettings)</button>
    </footer>
</article>
<article>
    <header>
        <h3>@LanguageHelper.GetValue(ResourceName.View_Administration_ExportDatabase)</h3>
    </header>
    <p>
        @LanguageHelper.GetValue(ResourceName.View_Administration_ExportDatabaseDescription)
    </p>
    <footer>
        <a href="/Admin/ExportDatabase" role="button" style="width: 100%"><i class="icofont-download"></i> @LanguageHelper.GetValue(ResourceName.View_Administration_Export)</a>
    </footer>
</article>
<article>
    <header>
        <h3>@LanguageHelper.GetValue(ResourceName.View_Administration_ImportDatabase)</h3>
    </header>
    <p>
        @LanguageHelper.GetValue(ResourceName.View_Administration_ImportDatabaseDescription)
    </p>
    <form id="importDatabase" action="/Admin/ImportDatabase" method="post" enctype="multipart/form-data">
        <label for="databaseFile">
            @LanguageHelper.GetValue(ResourceName.View_Administration_ChooseDatabase)
            <input type="file" id="databaseFileUpldate" name="databaseFile">
        </label>
    </form>
    <p>
        <mark><i class="icofont-warning"></i> <strong>@LanguageHelper.GetValue(ResourceName.View_Administration_ImportWarning)</strong></mark>
    </p>
    <footer>
        <button type="submit" form="importDatabase"><i class="icofont-upload"></i> @LanguageHelper.GetValue(ResourceName.View_Administration_Import)</button>
    </footer>
</article>
<article>
    <header>
        <h3>@LanguageHelper.GetValue(ResourceName.View_Administration_System)</h3>
    </header>
    <p>
        @{
            var maxPerHour = Convert.ToInt32((60 * 60 / DockerEnvironmentVariables.RateLimitRoundWaitTime.TotalSeconds) * DockerEnvironmentVariables.RateLimitPerRoundCount);
        }
        @LanguageHelper.GetValue(ResourceName.View_Administration_SystemConfigurationPart1) <strong>@DockerEnvironmentVariables.RateLimitPerRoundCount</strong> @LanguageHelper.GetValue(ResourceName.View_Administration_SystemConfigurationPart2) <strong>@maxPerHour</strong> @LanguageHelper.GetValue(ResourceName.View_Administration_SystemConfigurationPart3)
    </p>
    <p>
        @LanguageHelper.GetValue(ResourceName.View_Administration_DockerEnvironmentVariables)
    </p>
    <table role="grid" ">
        <thead>
            <tr>
                <th scope="col">ENV</th>
                <th scope="col">@LanguageHelper.GetValue(ResourceName.View_Administration_Value)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">LOG_LEVEL</th>
                <td>@DockerEnvironmentVariables.LogLevel</td>
            </tr>
            <tr>
                <th scope="row">LANGUAGE</th>
                <td>@DockerEnvironmentVariables.Language.Name</td>
            </tr>
            <tr>
                <th scope="row">EMAIL_PROTOCOL</th>
                <td>@DockerEnvironmentVariables.EmailProtocol</td>
            </tr>
            <tr>
                <th scope="row">IMAP FOLDER</th>
                <td>@DockerEnvironmentVariables.IMAPFolder</td>
            </tr>
            <tr>
                <th scope="row">FETCH_TIME</th>
                <td>@DockerEnvironmentVariables.FetchTime</td>
            </tr>
            <tr>
                <th scope="row">RATE_LIMIT_PER_ROUND_COUNT</th>
                <td>@DockerEnvironmentVariables.RateLimitPerRoundCount</td>
            </tr>
            <tr>
                <th scope="row">RATE_LIMIT_ROUND_WAIT_TIME</th>
                <td>@DockerEnvironmentVariables.RateLimitRoundWaitTime</td>
            </tr>
            <tr>
                <th scope="row">WEB_ONLY</th>
                <td>@DockerEnvironmentVariables.WebOnly</td>
            </tr>
            <tr>
                <th scope="row">WEB_UNSUBSCRIBE</th>
                <td>@DockerEnvironmentVariables.WebUnsubscribe</td>
            </tr>
            <tr>
                <th scope="row">WEB_USE_HTTPS</th>
                <td>@DockerEnvironmentVariables.WebUseHTTPS</td>
            </tr>
            <tr>
                <th scope="row">WEB_EXTERNAL_URL</th>
                <td>@DockerEnvironmentVariables.WebExternalURL</td>
            </tr>
            <tr>
                <th scope="row">WEB_SECRET</th>
                <td>@DockerEnvironmentVariables.WebSecret</td>
            </tr>
            <tr>
                <th scope="row">MIN_SEARCH_SCORE</th>
                <td>@DockerEnvironmentVariables.MinimumSearchScore</td>
            </tr>
        </tbody>
    </table>
</article>