@using EasyMailDiscussion.Common.Database
@using EasyMailDiscussion.Web.Models.Forms
@model DiscussionListAssignModel
@{
    ViewData["Title"] = "Discussion List Assignments";
}

<hgroup>
    <h1>Discussion List Assignment</h1>
    <h2>Assign contacts to <strong>@Model.DiscussionList.Name</strong> below.</h2>
</hgroup>

<form action="~/List/Assign" method="post">
    <input type="hidden" name="discussionListID" id="discussionListID" value="@Model.DiscussionList.ID" />
    <fieldset>
        @foreach (var contact in Model.Contacts)
        {
            <input type="hidden" name="contactID" id="contactID_@contact.ID" value="@contact.ID" />
            <label for="assigned">
                <input type="checkbox"
                name="assigned" 
                id="assigned" 
                @(new []{SubscriptionStatus.Created, SubscriptionStatus.Inactive, SubscriptionStatus.Subscribed}.Contains(Model.GetSubscription(contact.ID)) ? "checked" : "") 
                @(Model.GetSubscription(contact.ID) == SubscriptionStatus.Unsubscribed ? "disabled" : "")
                value="@contact.ID"/>
                @contact.Name
            </label>
        }
    </fieldset>
    <button type="submit">Save Changes</button>
</form>