@using GrayDuckMail.Common.Localization;
@model ContactsModel
@{
    ViewData["Title"] = @LanguageHelper.GetValue(ResourceName.View_Contacts_Index_Title);
}

<hgroup>
    <h1>@LanguageHelper.GetValue(ResourceName.View_Contacts_Index_Heading)</h1>
    <h2>@LanguageHelper.GetValue(ResourceName.View_Contacts_Index_Subheading)</h2>
</hgroup>

<article>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/Contact/New"><i class="icofont-ui-add"></i> @LanguageHelper.GetValue(ResourceName.View_Contacts_Index_CreateNewContact)</a>
                </li>
            </ul>
            <ul>
                <li>
                    <form action="/Contact/Search" method="post">
                        <input type="search" id="searchTerm" name="searchTerm" placeholder="Search">
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    @if (Model.Contacts.Any())
    {
        <table>
            <thead>
                <tr>
                    <th scope="col">@LanguageHelper.GetValue(ResourceName.View_Common_Name)</th>
                    <th scope="col">@LanguageHelper.GetValue(ResourceName.View_Common_Email)</th>
                    <th scope="col">@LanguageHelper.GetValue(ResourceName.View_Common_NumberOfDiscussionLists)</th>
                    <th scope="col">@LanguageHelper.GetValue(ResourceName.View_Common_Activated)</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in Model.Contacts)
                {
                    <tr>
                        <th scope="row">@contact.Name</th>
                        <td>@contact.Email</td>
                        <td>@contact.ContactSubscriptions.Count</td>
                        <td>
                            @if (contact.Activated)
                            {
                                <i class=icofont-check-circled></i>
                            }
                            else
                            {
                                <i class=icofont-close-circled></i>
                            }
                        </td>
                        <td>
                            <a href="/Contact/Edit/@contact.ID" data-tooltip="@LanguageHelper.GetValue(ResourceName.View_Common_Edit)"><i class="icofont-edit-alt"></i></a>
                            <a href="/Contact/Remove/@contact.ID" data-tooltip="@LanguageHelper.GetValue(ResourceName.View_Common_Remove)"><i class="icofont-delete-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
        @if (Model.TotalPages > 1)
        {
            <footer>
                @if (Model.PageNumber > 1)
                {
                    <a href="/Contact/@(Model.PageNumber - 1)"><i class="icofont-caret-left"></i></a>
                }
                @LanguageHelper.FormatValue(ResourceName.View_Common_PageCount, Model.PageNumber, Model.TotalPages)
                @if (Model.PageNumber < Model.TotalPages)
                {
                    <a href="/Contact/@(Model.PageNumber + 1)"><i class="icofont-caret-right"></i></a>
                }
            </footer>
        }
    }
    else
    {
        <p>@LanguageHelper.GetValue(ResourceName.View_Contacts_Index_NoContactsPart1) <a href="/Contact/New">@LanguageHelper.GetValue(ResourceName.View_Contacts_Index_NoContactsPart2)</a> @LanguageHelper.GetValue(ResourceName.View_Contacts_Index_NoContactsPart3)</p>
    }
</article>