@using GrayDuckMail.Common.Localization;
@model RemoveContactModel
@{
    ViewData["Title"] = LanguageHelper.GetValue(ResourceName.View_Contacts_Remove_Title);
}

<hgroup>
    <h1>@LanguageHelper.GetValue(ResourceName.View_Contacts_Remove_HeadingPart1) @Model.Contact.Name</h1>
    <h2>@LanguageHelper.GetValue(ResourceName.View_Contacts_Remove_Subheading)</h2>
</hgroup>

<article>
    <div class="grid">
        <div>
            <a href="/Contact/ConfirmRemove/@Model.Contact.ID" role="button" style="width:100%;"><i class="icofont-delete-alt"></i> @LanguageHelper.GetValue(ResourceName.View_Common_Remove)</a>
        </div>
        <div>
            <a href="/Contact" role="button" class="contrast" style="width:100%;"><i class="icofont-not-allowed"></i> @LanguageHelper.GetValue(ResourceName.View_Common_Cancel)</a>
        </div>
    </div>
</article>