@using System.Reflection
@using GrayDuckMail.Common.Localization
@model BasePageModel
<!DOCTYPE html>
<html lang="en" data-theme="@Model?.Theme?.ToLowerInvariant()">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@LanguageHelper.GetValue(ResourceName.ApplicationName) - @ViewData["Title"]</title>
    <link rel="stylesheet" href="/css/pico.min.css" />
    <link rel="stylesheet" href="/css/site.css" />
    <link rel="stylesheet" href="/icofont/icofont.min.css" />
</head>
<body class="container" >
    <header>
        <nav>
            <ul>
                <li>
                    <a href="/">
                        <img src="/img/logo-64.png" style="margin-right: 1em; width: 2em;" />
                        <strong>@LanguageHelper.GetValue(ResourceName.ApplicationName)</strong>
                    </a>
                </li>
            </ul>
            <ul>
                <li>
                    <a href="/List"><i class="icofont-list"></i> @LanguageHelper.GetValue(ResourceName.View_Shared_Layout_DiscussionLists)</a>
                </li>
                <li>
                    <a href="/Contact"><i class="icofont-ui-user-group"></i> @LanguageHelper.GetValue(ResourceName.View_Shared_Layout_Contacts)</a>
                </li>
                <li>
                    <a href="/Admin"><i class="icofont-dashboard-web"></i> @LanguageHelper.GetValue(ResourceName.View_Shared_Layout_Administration)</a>
                </li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    <footer>
        @LanguageHelper.GetValue(ResourceName.View_Shared_Layout_FooterUsefulPart1) <a href="https://support.jordanwages.com/">@LanguageHelper.GetValue(ResourceName.View_Shared_Layout_FooterUsefulPart2)</a>@LanguageHelper.GetValue(ResourceName.View_Shared_Layout_FooterUsefulPart3)
        <br />
        <a href="https://github.com/wagesj45/gray-duck-mail">@LanguageHelper.GetValue(ResourceName.View_Shared_Layout_SourceCodePart1)</a> @LanguageHelper.GetValue(ResourceName.View_Shared_Layout_SourceCodePart2) <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">GPLv3</a>.
        <nav>
            <ul>
                <li><a href="https://picocss.com">Pico CSS</a></li>
                <li><a href="https://www.icofont.com">Icofont</a></li>
            </ul>
        </nav>
        <br />
        <small>
            @LanguageHelper.GetValue(ResourceName.View_Shared_Layout_Version) @ApplicationSettings.ApplicationVersion | @LanguageHelper.GetCurrentLanguage().CommonName
        </small>
    </footer>
    <script src="/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
