@model ContactSearchModel
@{
    ViewData["Title"] = "Contact Search";
}

<hgroup>
    <h2>Contacts</h2>
    <h3>Search for @Model.Contacts.SearchTerm </h3>
</hgroup>

<article>
    <header>
        <nav>
            <ul>
                <li>
                    <a href="~/Contact/New"><i class="icofont-ui-add"></i> Create New Contact</a>
                </li>
            </ul>
            <ul>
                <li>
                    <form action="~/Contact/Search" method="post">
                        <input type="search" id="searchTerm" name="searchTerm" placeholder="Search" value="@Model.Contacts.SearchTerm">
                    </form>
                </li>
            </ul>
        </nav>
    </header>
    <details>
        <summary>
            Didn't find what you need?
        </summary>
        <a href="~/Contact/FuzzySearch/@Model.Contacts.SearchTerm">Do a fuzzy search</a>
    </details>
    @if (Model.Contacts.Cache.Any())
    {
        <table>
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Number of Discussion Lists</th>
                    <th scope="col">Activated</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var contact in Model.Contacts.Cache)
                {
                    <tr>
                        <th scope="row">@contact.Item.Name</th>
                        <td>@contact.Item.Email</td>
                        <td>@contact.Item.ContactSubscriptions.Count</td>
                        <td>
                            @if(contact.Item.Activated)
                            {
                                <i class=icofont-check-circled></i>
                            }
                            else
                            {
                                <i class=icofont-close-circled></i>
                            }
                        </td>
                        <td>
                            <a href="~/Contact/Edit/@contact.Item.ID" data-tooltip="Edit"><i class="icofont-edit-alt"></i></a>
                            <a href="~/Contact/Remove/@contact.Item.ID" data-tooltip="Remove"><i class="icofont-delete-alt"></i></a>
                        </td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                    <th scope="col">Total</th>
                    <th scope="col"><strong>@Model.Contacts.Cache.Count()</strong></th>
                </tr>
            </tfoot>
        </table>
    }
    else
    {
        <p>No contacts could be found. Try a more <a href="~/Contact/FuzzySearch/@Model.Contacts.SearchTerm">comprehensive search</a>.</p>
    }
</article>